body {
	font-family: Quicksand;
	background-image: url("../img/LogoBlanco.jpeg") !important;
	background-size:100%;
}
#logo {
	border-radius: 50%;
	margin-left:5%;
	margin-top:2%;
}

h1 {
	color: #CC181E;
	margin-left: 5%;
}
