body {
	font-family: Quicksand;
	/* background-image: url("../img/LogoNegro.jpeg") !important; */
	background-color:black !important;
	background-size:100%;
}
#logo {
	height: 15rem;
	width: auto;
	border-radius: 50%;
	margin-left:5%;
	margin-top:2%;
}
.icono-nav {
	width: 64px; /* Ajusta el tamaño según necesites */
	height: 64px;
}

.profile{
	color: inherit;
	text-decoration: none;
}
p{
	color: aliceblue;
}

.title-home{
	color: aliceblue;
}
.tarjeta{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3%;
	margin-left: 10%;
	padding-left: 50%;
	color: aliceblue;
}

.profile::hover{
	background-color: linear-gradient(#477AFC, #47B4FC, #47FCCF);
}

footer{
	display: flex;
	justify-content: center; /* Alinea horizontalmente */
	align-items: center;
	margin-top: 3%;
	margin-bottom: 3%;
	padding-top: 5%;
}

h1 {
	color: #EBB63C;
	margin-left: 5%;
}
:root {
	--dark-bg: #1c1c1c;
	--gold: #d4af37;
	--light-gold: #f0e68c;
}
.carousel-inner img {
	height: 100%;
	object-fit: cover;
}
.img1, .img2, .img3 {
	width: 1349px !important;
	height: 500px;
	object-fit: cover; /* Opcional: Recorta la imagen para llenar el espacio sin deformación */
}
.card-img-top{
	height: 15rem;
	width: auto;

}


/* body {
	background-color: var(--dark-bg);
	color: var(--gold);
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
	color: var(--gold);
	transition: color 0.3s;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color: var(--light-gold);
}

.bg-dark-gold {
	background-color: var(--dark-bg);
}

.text-gold {
	color: var(--gold);
} */
