body {
	font-family: Quicksand;
	background-image: url("../img/Remix.jpg") !important;
	background-size:130%;
}
#logo {
	border-radius: 50%;
	margin-left:5%;
	margin-top:2%;
	opacity:0.67;
}

h1 {
	color: #F2DC9B;
	margin-left: 5%;
}
